:host {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #141014;
  padding: 40px;
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field {
  width: 100% !important;
}

.btn-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.btn-cancelar {
  color: #d17dd9;
}

.btn-salvar {
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 6px 20px;
  color: #fff;
  transition: 0.2s;
}

.btn-salvar:hover {
  background: #ffffff22;
}