.container {
  height: 100vh;
}

.topbar {
  display: flex;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
}

button {
  margin-bottom: 20px;
}