<mat-sidenav-container class="container">

  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>

      <a mat-list-item routerLink="/usuarios">
        <mat-icon>person</mat-icon>
        &nbsp; Usuários
      </a>

      <a mat-list-item routerLink="/pousadas">
        <mat-icon>home</mat-icon>
        &nbsp; Pousadas
      </a>

      <a mat-list-item routerLink="/quartos">
        <mat-icon>hotel</mat-icon>
        &nbsp; Quartos
      </a>

      <a mat-list-item routerLink="/reservas">
        <mat-icon>event_available</mat-icon>
        &nbsp; Reservas
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" class="topbar">
      <span class="title">Sistema de Pousadas</span>

      <span class="spacer"></span>

      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sair
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>