<mat-sidenav-container class="container">

  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">Menu</mat-toolbar>

  <mat-nav-list>

  <a mat-list-item routerLink="/home"> 
    <mat-icon>house</mat-icon>
    &nbsp; Inicio
  </a>

  <a mat-list-item routerLink="/home/pousadas">
    <mat-icon>home</mat-icon>
    &nbsp; Pousadas
  </a>

  <a mat-list-item routerLink="/home/reservas/minhas">
    <mat-icon>event_available</mat-icon>
    &nbsp; Reservas
  </a>

</mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" class="topbar">
      <span class="title">Sistema de Pousadas</span>

      <span class="spacer"></span>

      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sair
      </button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>